# ─── Node ────────────────────────────────────────────────────────────────────
node_modules/
dist/
.next/
build/

# ─── Python ──────────────────────────────────────────────────────────────────
venv/
__pycache__/
*.pyc
*.pyo
.venv/

# ─── Entornos ────────────────────────────────────────────────────────────────
.env
.env.local
.env.*.local

# ─── Prisma ──────────────────────────────────────────────────────────────────
prisma/migrations/

# ─── OS ──────────────────────────────────────────────────────────────────────
.DS_Store
Thumbs.db

# ─── Logs ────────────────────────────────────────────────────────────────────
*.log
logs/
